{% extends "base.html" %}
{% block title %}Checklist Home{% endblock %}

{% block content %}
<a href='/addtask/' style="color: darkblue; font-size: 16px;">(Add task)</a>
<h2>Hi! Here are your tasks as of {{ current_date }}:</h2>
{% for task in tasks %}
{% if not task.is_done %}
<ul>
  <li>{{ task.description }} - {{task.date_created.date }} ({{ task.is_done }})</li>
</ul>
{% endif %}
{% endfor %}
</br></br></br>
<h2>You completed:</h2>
{% for task in tasks %}
{% if task.is_done %}
<ul>
  <li>{{ task.description }} - {{task.date_created.date }} ({{ task.is_done }})</li>
</ul>
{% endif %}
{% endfor %}

{% endblock %}